*{
    box-sizing: border-box;
    font-family: 'Open sans', sans-serif;
}

#banner{
    text-align: center;
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 25px;
}
#titleSize{
    font-size: 36px;
    margin-top: 0px;
    margin-bottom: 7px;
}
#wrapper {
    max-width: 960px;
    padding: 10px;
    margin: auto;
    background: lightgrey;
}

nav {
    max-width: 960px;
    width: 100%;
    display: grid;
    grid-column-gap: 0px;
    grid-row-gap: 1px;
    text-align: left;
    font-size: 14px;
    padding-left: 18px;
    margin: auto;
    background-color: #B60000;
    transition: box-shadow .25s;
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.10)
}

#navBar a{
    color: black;
    text-decoration: none;
}

article{
    width: 100%;
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 10px;

}

#contentcontainer a{
    width: 100%;
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin: auto;
    color: black;
    text-decoration: none;
}

.articleSub{
    color: lightgrey;
    font-size: 12px;
}

#navcontainer {
    background-color: #D90000;
    padding: 5px;
    margin: 10px;
}

.pagecontent{
    background-color: white;
    border-radius: 2px;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    transition: box-shadow .25s;
    box-shadow: 0px 0px 1px 3px rgba(0,0,0,0.10)
}

.btnstyle{
    background-color: #D90000;
    border-color: #D90000;
    color: white;
    max-width: 120px;
    border-radius: 3px;
    cursor: pointer;
    padding: 10px;
}

.btnstyle:hover, .btnstyle:focus {
    background-color: #B60000;
    border-color: #B60000;
}

.nextPage{
    background-color: white;
    border-radius: 2px;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    text-align: right;
    transition: box-shadow .25s;
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.10)
}

.previousPage{
    background-color: white;
    border-radius: 2px;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    text-align: left;
    transition: box-shadow .25s;
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.10)
}

.bottomLinks{
    background-color: white;
    border-radius: 2px;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    transition: box-shadow .25s;
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.10)
}

#box5 a{
    color: #B60000;
}

#box6 a{
    color: #B60000;
}
